  #meuBotao:active {
    border: none !important;
    transform: translateY(4px);
    outline: none !important;
  }
  
  #meuBotao:focus{
      outline:none !important;
      border: none !important;
      box-shadow: none !important;
  }
  #bodyCor{
	background-color: #ff1a75;
    font-family: 'Lato', sans-serif;
}
  label{
    color:white;
    text-align: left;
    padding-left: 0;
    margin-left: 0 ;
  }
  input{
    text-align: center;
  }
  form{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
  }
  p{
    color:white;
    text-align: center;
  }
  a:link {
    text-decoration: none;
    color:white;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  